@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.375rem;
  background-color: #272727;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #303030;
}

::-webkit-scrollbar-thumb:active {
  background-color: #333333;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

button,
input {
  outline: unset;
}

@layer components {
  .ctrl-el0 {
    @apply hover:bg-el1Accent active:bg-el1Active;
  }

  .ctrl-el1 {
    @apply bg-el1 hover:bg-el1Accent active:bg-el1Active;
  }

  .ctrl-el2 {
    @apply bg-el2 hover:bg-el2Accent active:bg-el2Active;
  }

  .ctrl-el3 {
    @apply bg-el3 hover:bg-el3Accent active:bg-el3Active;
  }
}
