@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.375rem;
  background-color: #272727;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #303030;
}

::-webkit-scrollbar-thumb:active {
  background-color: #333333;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

button,
input {
  outline: unset;
}
